<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>HomePage</title>
        <style>
            body {
                background-color: #f5f5f5;
            }

            .card {
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }

            .card:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }
        </style>
</head>

<body>

    <%- include('./partials/navbar') %>

        <div class="container mt-5 mb-5">
            <div class="card border-0 shadow-sm rounded ">

                <div class="row g-0">
                    <div class="col-md-5 p-2">
                        <img src="<%=blog.coverImageURL %>" class="card-img-top rounded" alt="blog" width="1000px"
                            height="400px">
                    </div>
                    <div class="col-md-7 p-2">
                        <div class="card-body ps-3">
                            <h2 class="card-title fw-bold">
                                <%=blog.title %>
                            </h2>
                            <hr>
                            <p class="card-text">
                                <% blog.body.split('\n').forEach(p=>{ %>
                                    <%= p %><br>
                                        <% }) %>
                            </p>
                            <section class="d-flex justify-content-end align-items-center">
                                <img src="<%= blog.createdBy.profileImageUrl %>" width="60px" height="60px"
                                    class="rounded-circle" alt="user">
                                <p class="ms-2 mt-2 text-muted"><small class="text-muted">by <strong>
                                            <%= blog.createdBy.fullName %>
                                        </strong><br>
                                        <%= new Date(blog.createdAt).toLocaleDateString() %>
                                    </small></p>
                            </section>

                        </div>
                    </div>

                </div>
                <% if(comments.length>0){ %>
                    <section class="mt-3 ps-4">
                        <h5 class="fw-bold">Comments(<%=comments.length %>)</h5>
                        <ul class="list-group list-group-flush">
                            <% comments.forEach(comment=> { %>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-3 me-5">

                                        <p class="mb-3 mt-3 fs-6">
                                            <span class="text-break">
                                                <%= comment.content %>
                                            </span>
                                        </p>
                                        <div class="d-flex align-items-center text-muted">
                                            <img src="<%= comment.createdBy.profileImageUrl %>" width="30px"
                                                height="25px" class="rounded-circle" alt="user">
                                            <small class="ms-1"><strong>
                                                    <%= comment.createdBy.fullName %>
                                                </strong><br>
                                                <%= new Date(comment.createdAt).toLocaleDateString() + ' ' + new
                                                    Date(comment.createdAt).toLocaleTimeString([], { hour: 'numeric' ,
                                                    minute: 'numeric' }) %>
                                            </small>
                                        </div>




                                    </div>
                                </li>
                                <% }) %>
                        </ul>
                    </section>
                    <% } %>
                        <% if(locals.user){ %>
                            <section class="mt-3 ps-4">
                                <h5 class="fw-bold">Add Comment</h5>
                                <form action="/blog/comment/<%=blog._id %>" method="POST">
                                    <div class="input-group mb-3 ms-4 pe-5">
                                        <textarea class="form-control ps-1" placeholder="Add your comment"
                                            name="content" rows="3"></textarea>
                                        <button class="btn btn-outline-secondary" type="submit">Comment</button>
                                    </div>
                                </form>
                            </section>
                            <% } %>

            </div>
        </div>
        <%- include('./partials/script') %>


</body>


</html>